@charset "UTF-8";

h2 {
	font-size: 70px;
  font-weight: bold;
	color: #4B0082;
	text-align: left;
	font-family: 'Julius Sans One', sans-serif;
	/*text-shadow: 3px 3px #ff0000;*/

}

body {
  background-color: rgb(190,190,190);
}

tabelas {
  background-color: rgb(112,128,144);
}
barra-perquisa {
  font-weight: bold;
  color: #000000;
}
td img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.collapsible-header h5{
  font-size: 18px;
  margin-left: 20px;

}

.teste li {
  float: left;
}

.waves-effect waves-light btn modal-trigger purple adicionaAlbum {
  float: right;
  float: down;
}
